.fullopl{
	width: 100wh;
	height: 70vh;
	color: #fff;
	background: linear-gradient(-45deg, #901cff, #7D7AED, #9d8eed,  #7D7AED);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.bropl{
	width: 100wh;
	height: 70vh;
	color: #fff;
	background: linear-gradient(-45deg, #901cff, #7D7AED, #faec52, #ffe570);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.btopl{
	width: 100wh;
	height: 70vh;
	color: #fff;
	background: linear-gradient(-45deg, #901cff, #7D7AED, #fc8686,  #f74a4a);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


.opl-er-main-text{
	position: relative;
	top: 45%;
	margin-left: 7%;
	margin-right: 7%;
}

.fulloplftr{
	width:  45%;
	position: relative;
	top: 100px;
	left: 7%;
}

.fulloplwh{
	height: 300px;
	width: 100%;
}


.btnback{
	position: relative;
	top: 45px;
	left: 60%;
	width: 300px;
	height: 140px;
	padding: 18.5px 41.75px;
	background-color: #fff;
	font-family: TTPro, SeguUI, Arial;
	font-size: 1.5rem;
	color: #000;
	position: relative;
	border-width: 5px;
	border-radius: 15px;
	border-style: solid;
	border-color: #000;
	text-decoration: none;
}

.btnback:hover{
	width: 300px;
	height: 150px;
	position: relative;
	background-color: #000;
	font-family: TTPro, SeguUI, Arial;
	font-size: 1.5rem;
	color: #fff;
	box-shadow: 0px 0px 40px -2px #7D7AED;
	text-decoration: none;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

