.informationmain{
	width: 100%;
	height: 70vh;
	background-color: #7D7AED;
	background-image: url(../../photo/dark/bgabt.png);
	background-repeat: no-repeat;
	background-position: -300px -400px;
	background-attachment: fixed;
	background-size: 200vw;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	box-shadow: 0px 0px 80px 0px #7D7AED;
}
.informationmain h1{
	position: relative;
	color: #fff;
	margin-left: 7vw;
	width: 86vw;
	margin-top: 25vh;
}

.informatiotext{
	position: relative;
	background-image: url(../../photo/bgabt2.png);
	background-position: -30% -10px;
	background-attachment: scroll;
	max-height: 100000px;
}

.question{
	position: sticky;
	color: #dddcfa;
	font-family: Inter Bold, Big John, TTPro, SeguUI, Arial;
	font-size: 15em;
	z-index: 0;
}