.informationmain{
	width: 100%;
	height: 50vh;
	background-color: #7D7AED;
}
.informationmain h1{
	position: relative;
	top: 200px;
	color: #fff;
	margin-left: 5vw;
}
.informatiotext{
	position: relative;
	margin-left: 5vw;
	top: 200px;
	width: 55%;
	height: 200vh;
}