.main{
	width:  100%;
	height: 100vh;
	min-height: 1000px;
	background-image: url(../../photo/bg1.png);
	background-color: #7D7AED;
	background-attachment: fixed ;
	background-position: 90% 35%;
	background-repeat: no-repeat;
	background-size: 750px;
	box-shadow: var(--shadow-set-colorful-1);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.text-main{
	position:  relative;
	margin-left: 5vw;
	padding-top: 30vh;
	color:  #fff;
	flex-wrap: wrap;
}
.text-main h1{
	transition: text-shadow .3s;
	width: fit-content;
	cursor: default;
}
.text-main h1:hover{ text-shadow: 0 0 20px #fff; }
 
p.main-opis{
	margin-top: var(--padding-flex);
	font-family: TTPro, SeguUI, Arial;
}

#yakmain{ margin-top: 5vw; }
#yakmain:hover{
 background-color: #fff;
 box-shadow: 0px 0px 20px -1px #fff;
}
#yakmain a{
	text-decoration: none;
	width: 100%;
	height: 100%;
	color: #fff;
}
#yakmain:hover a{ color: #7D7AED; }

.taxt_main_artcanvas{
	Color: #7D7AED;
	position: relative;
	margin-left: 5vw;
	margin-top: 400px;
	margin-bottom: 400px;	
	width: auto;
	opacity: 0;
	transform: translateX(200px);
	transition: all 1.5s;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.taxt_main_artcanvas.show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}


.artcanvas{
	width:  100%;
	background-color: #fff;	
	margin-left: auro;
	margin-right: auto;
}
.artcanvas canvas{
	cursor: pointer;
	background-color: #fff;
	display:  block;
	position:  relative;
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 50px -4px #7D7AED;
	-webkit-transition: border-radius 300ms, box-shadow 300ms;
	-moz-transition: border-radius 300ms, box-shadow 300ms;
	transition: border-radius 300ms, box-shadow 300ms;
}
.artcanvas canvas:hover{ box-shadow: 0px 0px 80px -4px #7d7aed; }

.canvas_realetive{ 
	display: flex;
  width: 100%; 
  justify-content: space-between;
}

.cord-box{
	background-color: #7D7AED;
	border-radius: var(--border-radius);
	padding: var(--padding-flex);
	color: #fff;
	box-shadow: var(--shadow-set-colorful-1-small);
}

.artcanvas .cord-box{
	height: -moz-available;          /* WebKit игнор. */
  height: -webkit-fill-available;  /* Mozilla игнор. */
  height: fill-available;
}
.cord-box input::-moz-placeholder { color: rgba(220, 220, 220, 0.8); }
.cord-box	input::-webkit-input-placeholder { color: rgba(220, 220, 220, 0.8); }
.cord-box label{
	color: #fff;
}
.cord-box input{
	font-size: var(--p-font-size);
	padding: calc(var(--border-radius)/4) calc(var(--border-radius)/2);
	margin: 5px 0 0 calc(-1*var(--border-radius)/2);
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	background-color: transparent;
	color: #fff;
	position: relative;
	-webkit-transition: box-shadow 200ms;
	-moz-transition: box-shadow 200ms;
	transition: box-shadow 200ms;
	font-family: TTPro, SeguUI, Arial;
	width: var(--short-input-width);
}
.cord-box input:hover,
.cord-box input:focus{
	box-shadow: var(--shadow-set-black-1);
}

.current_cords{
	opacity: 0;
	transform: translateX(200px);
	transition: all 1.5s;
	background-image: url('../../photo/dark/cursor_bg_d.svg');
	background-size: 480px;
	background-repeat: no-repeat;
	background-position: calc(100% + 50px) 50%;
}
.current_cords.show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}

.cords{
	margin-right: 5vw;
	width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

.cords .cord-box{ height: calc(1000px / 2 - 2.5vw - 40px); }
@media screen and (max-width:1603px){
.cords .cord-box button{ margin-top: 5px !important;}
}
@media screen and (max-width:980px){
.cords .cord-box button{ margin-top: 50px !important;}
}
.cord_poisk{
	margin-top: 5vw;
	position: relative;
	opacity: 0;
	transform: translateX(200px);
	transition: all 1.5s;
	background-image: url('../../photo/dark/search_bg_d.svg');
	background-size: 530px;
	background-repeat: no-repeat;
	background-position: calc(100% + 100px) 50%;
}

.cord_poisk.show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}

.fix_cords{
	max-height: 10000px;
	margin-top: 5vw;
	position: relative;
	opacity: 0;
	transform: translateX(200px);
	transition: all 1.5s;
	background-image: url('../../photo/dark/scroll_bg_d.svg');
	background-size: 33%;
	background-repeat: no-repeat;
	background-position: 100% calc(50% - 6px);
}

.fix_cords.show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}

#expixelcolor{
	width: var(--example-pix-color-size);
	height: var(--example-pix-color-size);
	border-radius: var(--border-radius);
	position: absolute;
	left: 255px;
	box-shadow: var(--shadow-set-black-1);	
}

#fixlink{
	word-wrap: break-word;
	width: auto;
	height: auto;
}

#fixtext{
	word-wrap: break-word;
	width: auto;
	height: auto;
}

.buy{
	position: relative;
	height: auto;
	max-height: 10000px;
	background-color: #fff;	
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 400px;
	opacity: 0;
	transform: translateX(200px);
	transition: all 1.5s;
}

.buy.show{
  opacity: 1;
  transition: all 1.5s;
  transform: translateX(0%);
}

.buy h1{
	position: relative;
	left: -5px;
	margin-bottom: 0;
}

.input_buy{ width: fit-content; }

.input_buy textarea,
.input_buy input{
	width: calc(90vw - 2 * (var(--border-radius) / 2) + var(--border-radius) );
	max-width: 1000px;
	font-family: TTPro, SeguUI, Arial;
	font-size: var(--p-font-size);
	padding: calc(var(--border-radius)/4) calc(var(--border-radius)/2);
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	background-color: transparent;
	color: #7D7AED;
	position: relative;
	left: calc(-1*var(--border-radius)/2);
	-webkit-transition: height 600ms, box-shadow 200ms;
	-moz-transition: height 200ms, box-shadow 200ms;
	transition: height 600ms, box-shadow 200ms;
}
.input_buy textarea{
	resize: none;
	height: calc(var(--p-font-size) + 3px);
	overflow: hidden;
}
.input_buy input:hover,
.input_buy input:focus{
	border-color: #fff;
	box-shadow: 0px 0px 80px -4px #7d7aed;
}
.input_buy textarea:hover,
.input_buy textarea:focus{
	height: 400px;
	overflow: auto;
	border-color: #fff;
	box-shadow: 0px 0px 80px -35px #7d7aed;	
}
.input_buy label,
.input_buy label h5{
	width: fit-content;
	margin-right: 0;
}
.input_buy_color input{
	width: var(--example-pix-color-size);
	height: var(--example-pix-color-size);		
	background-color: #fff;
	color: #7D7AED;
	position: absolute;
	left: 255px;
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-set-black-1);
	padding: 0;
}
.input_buy_color input:hover,
.input_buy_color input:focus{
	border-color: #000 !important;
  box-shadow: 0px 0px 50px -4px #7d7aed;
}
@media (max-width: 980px){
	.input_buy_color input{ top: 5px; }
}

.input_buy_color{
	position: relative;
	border-color: #000 !important;
}

.input_buy_color ::-webkit-color-swatch{
	border: 0;
	width: 0px;
	height: 0px;
}

.input_buy_color ::-moz-color-swatch{
	border: 0;
	width: 0px;
	height: 0px;
}

.input_cords input{ width: var(--short-input-width) !important; }

.input_cords input:hover,
.input_cords input:focus{
	box-shadow: 0px 0px 80px -4px #7d7aed;
}

.dif_shedow input:hover,
.dif_shedow input:focus{
	box-shadow: 0px 0px 50px -12px #7d7aed;
}

.info-min{
	display: grid;
	grid-template-areas:
		"info-header info-header"
		"info-header info-header"
		"info-header info-header"
		"info-card-1 info-card-2"
		"info-card-1 info-card-2"
		"info-card-3 info-card-4"
		"info-card-3 info-card-4"
		"info-card-5 info-card-6"
		"info-card-5 info-card-6";
	gap: 20px;
	margin: 400px 5vw 400px 5vw;
	transition: all 1s;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
}
@media (max-width: 980px) {
	.info-min{
		display: grid;
		grid-template-areas:
		"info-header"
		"info-card-1"
		"info-card-2"
		"info-card-3" 
		"info-card-4"
		"info-card-5"
		"info-card-6";
		gap: 5vw;
	}
	.info-card p{ padding: var(--padding-flex) 20% 0 0 !important; }
}

.info-card{
	min-height: 180px;
	max-height: 10000px;
	position: relative;
	transition: all .3s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: calc(max(200px, 30%));
}
.info-card:hover{ box-shadow: 0px 0px 40px #7d7aed; }

@media (max-width: 980px){
	.info-card{
		background-size: 80%;
		background-position: calc(100% + 250px) 50% !important;
	}
	.info-card-1{ background-size: 100% !important; }
}
.info-card p{ padding: var(--padding-flex) 30% 0 0; }
.info-card.dark{ background-color: #624bc9; }

.info-header{
	grid-area: info-header;
	background-image: url('../../photo/dark/info_bg_d.svg');
}
.info-card-1{
	grid-area: info-card-1;
	background-image: url('../../photo/dark/question_bg_d.svg');
	background-size: calc(30% + 80px);
	background-position: calc(100% + 60px) 50%;
}
.info-card-2{
	grid-area: info-card-2;
	background-image: url('../../photo/dark/menu_bg_d.svg');
}
.info-card-3{
	grid-area: info-card-3;
	background-image: url('../../photo/dark/palette_bg_d.svg');
}
.info-card-4{
	grid-area: info-card-4;
	background-image: url('../../photo/dark/account_bg_d.svg');
}
.info-card-5{
	grid-area: info-card-5;
	background-image: url('../../photo/dark/top_bg_d.svg');
}
.info-card-6{
	grid-area: info-card-6;
	background-image: url('../../photo/dark/forum_bg_d.svg');
}

.info-card-hover{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	opacity: 0;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	transition: opacity .5s;
  background-image: url("../../photo/white/arrow_w.svg");
  background-image: url("../../photo/white/arrow_w.svg"), linear-gradient(to right, rgba(0, 0, 0, 0), #624bc9 80%);
  background-size: calc(min(700px, 50%)), cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.info-card-hover h1,
.info-card-hover h2,
.info-card-hover h3{
	padding: var(--padding-flex);
	opacity: 0;
	color: #fff; /* #624bc9*/
}
.dark .info-card-hover{
	background-image: url("../../photo/white/arrow_w.svg"), linear-gradient(to right, rgba(0, 0, 0, 0), #7D7AED 80%);
}

.info-card:hover .info-card-hover,
.info-card:hover .info-card-hover h1,
.info-card:hover .info-card-hover h2,
.info-card:hover .info-card-hover h3{
	opacity: 1;
}

    /* для элемента input c type="checkbox" */
input[type=checkbox]{
    position: absolute;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
}

a.sendmail:active, /* активная/посещенная ссылка */ 
a.sendmail{
  cursor: pointer;
  position: relative;
  left: -10px;
  top: -20px;
  text-decoration: none;
  color: #7D7AED;
  padding: 5px;
  padding-right: 12px;
  padding-left: 10px; 
  border-radius: var(--border-radius);
  border: none;
  -webkit-transition: background-color 200ms, color 200ms, box-shadow 200ms;
  -moz-transition: background-color 200ms, color 200ms, box-shadow 200ms;
  transition: background-color 200ms, color 200ms, box-shadow 200ms;
}

a.sendmail:hover{
  text-decoration: none;
  color: #fff;
  background-color: #7D7AED;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 30px -1px #7D7AED;
  padding: 5px;	
  padding-right: 12px;
  padding-left: 10px;
  outline: none;
}

.big {
  display: none;
  position: absolute;
  z-index: 10;

  width: 110px;
  height: 110px;
  overflow: hidden;
  
  border: #7D7AED 3px solid;
  border-radius: var(--border-radius);
  background: white;
}

.big > .blockclone {
  zoom: 1;
  position: absolute;
  pointer-events: none;
}

.loopa{
	position: relative;
	margin-left: 5vw;
	margin-right: 5vw;
}


@media screen and (max-width:1520px) {
  .artcanvas canvas {
   	margin: 0 calc((100vw - 1000px) / 2);
   	position: unset !important;
  }
  .canvas_realetive {
   	flex-wrap: wrap;
   	flex-direction: column-reverse;
   	justify-content: unset !important;
  }
  .cords{ margin: 5vw 5vw 0 5vw; }
  .cords .cord-box{ height: auto !important; }
  .fix_cords {
   	margin: 5vw 5vw 0 5vw;
   	background-size: 600px !important;
  }
  .loopa{ margin: 0 !important; }
  .size_target{ display: none; }
  .big{ display: none !important; }
}
@media (max-width: 1202px) {
	.menu-main li:last-child:after {content: none;}
}
@media screen and (max-width:1000px) {
   .artcanvas canvas {
   	margin-left: 0 !important;
   	max-width: 100vw;
   }
}
@media (max-width: 550px) {
.menu-main { padding-top: 0; }
.menu-main li { display: block; }
.menu-main li:after { content: none; }
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}